<div class="row">
    <div class="col-md-6 mx-3 mt-2">
        <div class="card"> 
        <div class="card-body"> 
            <div class="tablero" style="border-style: outset; border-width: 30px;">
                <ul>
                  <li id="J1T1" class="fas fa-chess-rook"></li> <!--J1 = Jugador 1--> <!--T1 = Torre 1-->
                  <li id="J1C1" class="fas fa-chess-knight"></li> <!--J1 = Jugador 1--> <!--C1 = Caballo 1-->
                  <li id="J1A1" class="fas fa-chess-bishop"></li> <!--J1 = Jugador 1--> <!--A1 = Alfil 1-->
                  <li id="J1K1" class="fas fa-chess-king"></li> <!--J1 = Jugador 1--> <!--K = KING-->
                  <li id="J1Q1" class="fas fa-chess-queen"></li> <!--J1 = Jugador 1--> <!--Q = QUEEN--> 
                  <li id="J1A2" class="fas fa-chess-bishop"></li> <!--J1 = Jugador 1--> <!--A2 = Alfil 2-->
                  <li id="J1C2" class="fas fa-chess-knight"></li> <!--J1 = Jugador 1--> <!--C2 = Caballo 2-->
                  <li id="J1T2" class="fas fa-chess-rook"></li> <!--J1 = Jugador 1--> <!--T2 = Torre 2-->
                </ul>
                <ul>
                  <li id="J1P1" class="fas fa-chess-pawn"></li> <!--J1 = Jugador 1--> <!--P1 = Peon 1-->
                  <li id="J1P2" class="fas fa-chess-pawn"></li> <!--J1 = Jugador 1--> <!--P2 = Peon 2-->
                  <li id="J1P3" class="fas fa-chess-pawn"></li> <!--J1 = Jugador 1--> <!--P3 = Peon 3-->
                  <li id="J1P4" class="fas fa-chess-pawn"></li> <!--J1 = Jugador 1--> <!--P4 = Peon 4-->
                  <li id="J1P5" class="fas fa-chess-pawn"></li> <!--J1 = Jugador 1--> <!--P5 = Peon 5-->
                  <li id="J1P6" class="fas fa-chess-pawn"></li> <!--J1 = Jugador 1--> <!--P6 = Peon 6-->
                  <li id="J1P7" class="fas fa-chess-pawn"></li> <!--J1 = Jugador 1--> <!--P7 = Peon 7-->
                  <li id="J1P8" class="fas fa-chess-pawn"></li> <!--J1 = Jugador 1--> <!--P8 = Peon 8-->
                </ul>
              
              
                <ul>
                  <li id="TA6" style="font-size: 28px" class="color">A6</li>
                  <li id="TB6" style="font-size: 28px" class="color">B6</li>
                  <li id="TC6" style="font-size: 28px" class="color">C6</li>
                  <li id="TD6" style="font-size: 28px" class="color">D6</li>
                  <li id="TE6" style="font-size: 28px" class="color">E6</li>
                  <li id="TF6" style="font-size: 28px" class="color">F6</li>
                  <li id="TG6" style="font-size: 28px" class="color">G6</li>
                  <li id="TH6" style="font-size: 28px" class="color">H6</li>
                </ul>
              
                <ul>
                  <li id="TA5" style="font-size: 28px" class="color">A5</li>
                  <li id="TB5" style="font-size: 28px" class="color">B5</li>
                  <li id="TC5" style="font-size: 28px" class="color">C5</li>
                  <li id="TD5" style="font-size: 28px" class="color">D5</li>
                  <li id="TE5" style="font-size: 28px" class="color">E5</li>
                  <li id="TF5" style="font-size: 28px" class="color">F5</li>
                  <li id="TG5" style="font-size: 28px" class="color">G5</li>
                  <li id="TH5" style="font-size: 28px" class="color">H5</li>
                </ul>
              
                <ul>
                  <li id="TA4" style="font-size: 28px" class="color">A4</li>
                  <li id="TB4" style="font-size: 28px" class="color">B4</li>
                  <li id="TC4" style="font-size: 28px" class="color">C4</li>
                  <li id="TD4" style="font-size: 28px" class="color">D4</li>
                  <li id="TE4" style="font-size: 28px" class="color">E4</li>
                  <li id="TF4" style="font-size: 28px" class="color">F4</li>
                  <li id="TG4" style="font-size: 28px" class="color">G4</li>
                  <li id="TH4" style="font-size: 28px" class="color">H4</li>
                </ul>
              
                <ul>
                  <li id="TA3" style="font-size: 28px" class="color">A3</li>
                  <li id="TB3" style="font-size: 28px" class="color">B3</li>
                  <li id="TC3" style="font-size: 28px" class="color">C3</li>
                  <li id="TD3" style="font-size: 28px" class="color">D3</li>
                  <li id="TE3" style="font-size: 28px" class="color">E3</li>
                  <li id="TF3" style="font-size: 28px" class="color">F3</li>
                  <li id="TG3" style="font-size: 28px" class="color">G3</li>
                  <li id="TH3" style="font-size: 28px" class="color">H3</li>
                </ul>
              
                <ul>
                  <li id="J2P1" class="fas fa-chess-pawn"></li> <!--J2 = Jugador 2--> <!--P1 = Peon 1-->
                  <li id="J2P2" class="fas fa-chess-pawn"></li> <!--J2 = Jugador 2--> <!--P2 = Peon 2-->
                  <li id="J2P3" class="fas fa-chess-pawn"></li> <!--J2 = Jugador 2--> <!--P3 = Peon 3-->
                  <li id="J2P4" class="fas fa-chess-pawn"></li> <!--J2 = Jugador 2--> <!--P4 = Peon 4-->
                  <li id="J2P5" class="fas fa-chess-pawn"></li> <!--J2 = Jugador 2--> <!--P5 = Peon 5-->
                  <li id="J2P6" class="fas fa-chess-pawn"></li> <!--J2 = Jugador 2--> <!--P6 = Peon 6-->
                  <li id="J2P7" class="fas fa-chess-pawn"></li> <!--J2 = Jugador 2--> <!--P7 = Peon 7-->
                  <li id="J2P8" class="fas fa-chess-pawn"></li> <!--J2 = Jugador 2--> <!--P8 = Peon 8-->
                </ul>
              
                <ul>
                  <li id="J2T1" class="fas fa-chess-rook"></li> <!--J2 = Jugador 2--> <!--T1 = Torre 1-->
                  <li id="J2C1" class="fas fa-chess-knight"></li> <!--J2 = Jugador 2--> <!--C1 = Caballo 1-->
                  <li id="J2A1" class="fas fa-chess-bishop"></li> <!--J2 = Jugador 2--> <!--A1 = Alfil 1-->
                  <li id="J2K1" class="fas fa-chess-king"></li> <!--J2 = Jugador 2--> <!--K = KING-->
                  <li id="J2Q1" class="fas fa-chess-queen"></li> <!--J2 = Jugador 2--> <!--Q = QUEEN--> 
                  <li id="J2A2" class="fas fa-chess-bishop"></li> <!--J2 = Jugador 2--> <!--A2 = Alfil 2-->
                  <li id="J2C2" class="fas fa-chess-knight"></li> <!--J2 = Jugador 2--> <!--C2 = Caballo 2-->
                  <li id="J2T2" class="fas fa-chess-rook"></li> <!--J2 = Jugador 2--> <!--T2 = Torre 2-->
                </ul>
              </div>
            </div>
      </div>
  </div>
    <div class="col-md-20 mt-2 ancho">
      <div class="card"> 
        <div class="card-body"> 
            <p class="lead">JUGADOR 1</p>
            <hr class="my-4">
            <div class="form-group">
                <select [(ngModel)]="idPieza" class="custom-select" >
                  <option selected="">Selecciona la pieza a mover</option>
                  <option *ngFor="let dato of Piezas" >{{dato}}</option>
                </select>
              </div>
            <input [(ngModel)]="mov" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escribe como quieres mover la pieza seleccionada">
            <hr class="my-4">
            <button (click)="ver()" type="button" class="btn btn-outline-info btn-lg btn-block mt-3">Realizar Movimiento</button>
          </div>
      </div>
    </div>


</div>
